@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #06386b;
    padding-top: 130px;
    padding-bottom: 15px;
    font-size: 60px;
}

.content {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 500px;
    height: 0vh;
    position: relative;
    left: 10%;
    top: 10px;
}

.card {
    background: white;
    border-radius: 15px;
    height: 40vh;
    margin: 20px;
    border: 3px solid blue;
}

.titulobiotipo {
    padding: 40px;
    padding-top: 20px;
}

.partebaixo {
    padding: 10px;
}

.titulobiotipo {
    color: #424286;
}

.partebaixo {
    color: #424286;
}

h1 {
    justify-content: center;
    padding: 20px;
    align-items: center;
    display: flex;
    color: #424286;
}

.titulo h4 {
    color: #424286;
    justify-content: center;
    display: flex;
    padding: 20px;
}

.subtitulo p {
    color: #424286;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 250px;
    margin-left: 300px;
}

.content2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 0vh;
    position: relative;
    left: 300px;
    top: 10px;
}

.card2 {
    background: white;
    border-radius: 15px;
    height: 40vh;
    margin: 20px;
    border: 3px solid #198754;
}

h2.title2 {
    color: #198754;
}