/* INDEX */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
#corpo {
    background-color: rgba(220, 218, 218, 0.9);
    margin: 0px;
}

#logo {
    width: 230px;
    padding: 10px;
}

#cabecalho {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    width: 96%;
}

#navbar {
    border-radius: 20px!important;
}

#drop-down-responsive {
    display: none;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-top: 5px;
}

#color-a,
#color-b,
#color-c {
    color: #06386b;
    font-size: 1.1rem;
}

#color-a:hover,
#color-b:hover,
#color-c:hover {
    transition: all 0.6s ease 0s;
    color: rgb(149, 238, 138);
}

#titulo,
h1 {
    font-family: 'Roboto', sans-serif;
    color: #06386b;
    padding-top: 15px;
    padding-bottom: 15px;
}

#div-txt-intro {
    width: 58vw;
    height: 30vh;
    display: table;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

#txt-intro {
    text-align: justify;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #06386b;
}

#bt-inicio {
    color: #fff;
    background-color: #06386beb;
    border-color: #06386beb;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 15px!important
}

#bt-inicio:hover {
    transition: all 0.6s ease 0s;
    color: black;
    background-color: rgb(91, 192, 77);
    border-color: rgb(149, 238, 138);
}

#rodape {
    margin-top: 4rem;
}


/* Documentação */

#rascunhos {
    width: 58vw;
    height: 30vh;
    display: table;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

#sprints {
    padding-left: 35%;
}


/* login */

.logo-position {
    padding-bottom: 50px;
}

#logo-login {
    width: 70%;
}

#input-label {
    padding-left: 30px;
    padding-right: 30px;
}

#txt-cad {
    padding-top: 20px;
}

#bt-position {
    padding-top: 30px;
    padding-bottom: 40px;
}

#bt-entrar {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #06396b;
    border-radius: 2.3rem!important;
}


/* perfil do usuario */

#dados_usuario {
    margin-top: 5%;
    width: 20vw;
    height: 80vh;
    text-align: justify;
    margin-left: 9%;
}

#historico_usuario {
    margin-top: 5%;
    width: 60vw;
    height: 80vh;
    float: right;
}

#div_historico {
    padding-right: 5%;
}

#div_dados {
    padding-right: 5%;
}

#dados_usuario h5 {
    color: rgb(91, 192, 77);
    margin-bottom: 0;
}

#dados_usuario p {
    color: rgb(91, 192, 77);
    margin-bottom: 0;
}

#historico_usuario h5 {
    color: #06386b;
}