@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:azure;
    text-decoration: none;
    
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;

    border-radius: 13px;    
}

.logo{
    cursor: pointer;
    margin: 4px auto 4px 4px;
    max-width: 100px;
    max-height: 70px;
    width: auto;
    height: auto;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.5 s ease 0s;
}

.nav-links li a:hover{
    color: #00889a;
}
 button{
    padding: 9px 20px;
    background-color: rgba(0,136,169,1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
    margin-left: 20px;
    
}

button:hover{
    background-color: rgba(0,136,169,0.6);

}
body{
    margin: 2px 2px;
}

