/* Index */

#logo {
    width: 230px;
    padding: 10px;
}

#navbar {
    border-radius: 20px!important;
}

#cabecalho {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    width: 96%;
}

#corpo {
    background-color: rgba(220, 218, 218, 0.9);
    margin: 0px;
}

#escolha {
    margin-top: 10%;
}

.card {
    border-radius: 5px;
    width: 90px;
    margin-bottom: 20px;
}

.card-body {
    height: 15rem;
}


/* PG Cadastros */


/* PG Textos */

#div-cads textarea {
    padding: 10px;
}