@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#row {
    margin-top: 10px;
}

#teste1 {
    width: 40rem;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#col1 {
    margin-right: 12pc;
    margin-bottom: 55px;
}

#teste2 {
    height: 15.5rem;
    width: 10rem;
    margin: 0px;
    max-width: 10px;
}