/* INDEX */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
#corpo {
    background-color: rgba(220, 218, 218, 0.9);
    margin: 0px;
}

#logo {
    width: 230px;
    padding: 10px;
}

#cabecalho {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    width: 96%;
}

#navbar {
    border-radius: 20px!important;
}

#drop-down-responsive {
    display: none;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-top: 5px;
}

#color-a,
#color-b,
#color-c {
    color: #06386b;
    font-size: 1.1rem;
}

#color-a:hover,
#color-b:hover,
#color-c:hover {
    transition: all 0.6s ease 0s;
    color: rgb(149, 238, 138);
}

#titulo {
    font-family: 'Inconsolata', monospace;
    color: #06386b;
    font-size: 6.5rem;
}

#principais {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

#div-seta {
    margin-top: 6pc;
}

#img-seta {
    margin-top: 8pc;
    animation: setabaixo 1s ease-in-out infinite alternate;
}

@keyframes setabaixo {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 80px;
    }
}

#container-intro {
    margin: 0;
}

#div-txt-intro {
    width: 167%;
    height: 100%;
    margin-left: -12px;
    background: rgb(39, 155, 10);
    background-size: 190%;
}

#txt-conteudo {
    margin-right: 116px;
    padding: 20px;
}

#txt-conteudo h4 {
    color: rgb(248, 246, 246);
    font-family: 'Noto Sans Display', sans-serif;
    text-align: justify;
}

#imagem-index {
    margin-left: 13pc;
    border-radius: 7pc;
    border-left: solid;
    border-color: #094809;
}

#seta2 {
    margin-top: 5pc;
    animation: setalado 1s ease-in-out infinite alternate;
}

@keyframes setalado {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 6pc;
    }
}

#bt-inicio {
    color: #fff;
    background-color: #06386beb;
    border-color: #06386beb;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 15px!important;
    margin-top: -4.5rem!important;
    margin-right: 7pc;
}

#bt-inicio:hover {
    transition: all 0.6s ease 0s;
    background-color: #04294f;
    border-color: rgb(149, 238, 138);
}

#rodape {
    scroll-snap-align: start;
}


/* Documentação */

#rascunhos {
    width: 58vw;
    height: 30vh;
    display: table;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

#sprints {
    text-justify: auto;
    padding-left: 35%;
    padding-right: 30%;
}


/* login */

.logo-position {
    padding-bottom: 50px;
}

#logo-login {
    width: 70%;
}

#input-label {
    padding-left: 30px;
    padding-right: 30px;
}

#txt-cad {
    padding-top: 20px;
}

#bt-position {
    padding-top: 30px;
    padding-bottom: 40px;
}

#bt-entrar {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #06396b;
    border-radius: 2.3rem!important;
}


/* perfil do usuario */

#dados_usuario {
    margin-top: 5%;
    width: 20vw;
    height: 80vh;
    text-align: justify;
    margin-left: 9%;
    overflow: auto;
}

#historico_usuario {
    margin-top: 5%;
    width: 60vw;
    height: 80vh;
    float: right;
    overflow: auto;
}

#div_historico {
    padding-right: 5%;
}

#div_dados {
    padding-right: 5%;
}

#dados_usuario h5 {
    color: rgb(91, 192, 77);
    margin-bottom: 0;
}

#dados_usuario p {
    color: rgb(91, 192, 77);
    margin-bottom: 0;
}

#historico_usuario h5 {
    color: #06386b;
}

input[type='file'] {
    display: none;
}

#img-foto {
    border: 3px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    transition: background .3s;
}

#img-foto:hover {
    background-color: #76818c;
    border: 3px solid #111;
}

#bt-foto {
    margin-top: 10px;
}

.dados {
    padding-top: 15px;
}

#bt-alterar {
    margin-left: 20%;
}

.bt-crud {
    margin-top: 10%;
}

#div-graficos {
    margin-left: 5pc;
    width: 74pc;
    margin-top: 3pc;
    height: 16pc;
}


/* sobre nos */

.sobre {
    background: #ffffff;
    width: 65rem;
    margin: auto;
    height: 17rem;
    margin-top: 20px;
}

#corpo-sobre {
    background: linear-gradient(125deg, #06396b, rgb(39, 155, 10), #06396b, #06396b);
    background-size: 300%;
    animation: colors 15s ease infinite;
    margin: 0px;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.redes {
    text-decoration: none;
}

.linha-vertical {
    height: 235px;
    border-left: 2px solid;
}