@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#progresso-div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    height: 20%;
    padding: 0.1rem!important;
}

#progresso-header {
    padding: 0%;
}

.titulo-somatotipo {
    padding-left: 30px;
    padding-right: 30px;
}

#titulo-somatotipo h1 {
    color: rgb(65, 195, 56);
    font-size: 2rem;
    margin-bottom: -15px;
    padding-left: 40px;
}

#div-txt-ex {
    margin-right: 30px;
    height: 285px;
}

#div-perguntas {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.p-pointer {
    cursor: pointer;
}

.l {
    width: 100%;
}

.p-pointer:hover {
    background-color: #ccc;
}

.col .card {
    cursor: pointer;
    overflow: hidden;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}

.form-check-input {
    margin-left: 50%;
    border-radius: -50px;
}

.col .card:hover {
    /* background-color: #ccc; */
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.div-perguntas-imc.col {
    width: 415px;
    height: 510px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px 40px 20px 20px;
    background-color: white;
    border-radius: 10px;
}

.div-per.form-floating.mb-3 {
    margin-top: 20px;
}

.input-perguntas.form-control {
    width: 260px;
    background-color: rgba(220, 218, 218, 0.9);
}

.select-perguntas.form-select {
    width: 260px;
    background-color: rgba(220, 218, 218, 0.9);
}

.div-btn {
    text-align: center;
    margin-top: 30px;
}

#btn-prox {
    padding-right: 35px;
    padding-left: 35px;
    border: none;
    border-radius: 5px;
    background-color: #06386b;
    color: white;
}

#div-img-imc {
    margin: auto;
    margin: auto;
    margin-right: 25%;
    margin-bottom: 13%;
}

#Resposta-imc {
    color: red;
    margin-top: 10px;
}